@import "base.css";
* {
    box-sizing: border-box;
  }

  /* For laptop: */
@media only screen and (min-width: 769px) {
    .campaign {
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
    }

    .grid-item {
        align-self: center;
        padding: 100px;
    }

    .flex-item {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .grid-second {
        padding: 0px 0px 50px;
    }


    .button-get-started {
        width: 162px;
        height: 52px;
        border: none;
        border-radius: 26px;
        font-size: 16px;
        margin-left: 2px;
        background-color: var(--color-primary);
        color: white;
        font-weight: 450;
    }

    .campaign-heading {
        display: inline-block;
        font-size: 25px;
        font-weight: 500;
        line-height: 270%;
    }

    .campaign-text {
        padding-top: 10px;
        display: inline-block;
        width: 85%;
        height: auto;
        font-size: 16px;
        color: #7E8091;
    }

    .superpower {
        width: 100%;
        background-color: var(--color-secondary);
        background-image: url("../img/Group 17556.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .superpower-heading {
        display: inline-block;
        width: 60%;
        font-size: 25px;
        color: white;
        font-weight: 500;
        line-height: 270%;
    }

    .superpower-text {
        padding-top: 10px;
        display: inline-block;
        font-size: 16px;
        color: white;
        width: 85%;
        height: auto;
    }
}

/* For ipads: */
@media only screen and (max-width: 768px) {
    .campaign {
        width: 100%;
        background-color: var(--color-white);
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-rows: 100%;
        justify-content: space-evenly;
    }
    
    .campaign-text {
        padding: 38px;
        display: inline-block;
        height: auto;
        font-size: 16px;
        color: #7E8091;
    }
    .campaign-heading {
        display: inline-block;
        font-size: 25px;
        font-weight: 500;
        line-height: 270%;
        padding: 0px 38px;
    }
    .button-get-started {
        width: 162px;
        height: 52px;
        border: none;
        border-radius: 26px;
        font-size: 16px;
        background-color: var(--color-primary);
        color: white;
        font-weight: 450;
    }

    .button-position {
        padding: 0% 50% 20% 50%;
    }

    .flex-item {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .grid-item {
        align-self: center;
        padding: 10% 10% 0% 10%;
    }

    .superpower {
        width: 100%;
        background-color: var(--color-secondary);
        background-image: url("../img/Group 17556.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .superpower-heading {
        display: inline-block;
        font-size: 25px;
        color: white;
        font-weight: 500;
        line-height: 270%;
        padding: 0px 38px;
    }

    .superpower-text {
        padding: 38px;
        display: inline-block;
        font-size: 16px;
        color: white;
        height: auto;
    }
}



    /* for iphones */
@media only screen and (max-width: 320px) {
    .campaign {
        width: 100%;
        background-color: var(--color-white);
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-rows: 100%;
        justify-content: space-evenly;
    }
    
    .campaign-text {
        padding: 38px;
        display: inline-block;
        height: auto;
        font-size: 16px;
        color: #7E8091;
    }
    .campaign-heading {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        line-height: 270%;
        padding: 0px 38px;
    }
    .button-get-started {
        width: 162px;
        height: 52px;
        border: none;
        border-radius: 26px;
        font-size: 16px;
        background-color: var(--color-primary);
        color: white;
        font-weight: 450;
    }

    .button-position {
        padding: 0% 50% 20% 50%;
    }

    .flex-item {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .grid-item {
        align-self: center;
        padding: 10% 10% 0% 10%;
    }

    .superpower {
        width: 100%;
        background-color: var(--color-secondary);
        background-image: url("../img/Group 17556.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .superpower-heading {
        display: inline-block;
        font-size: 20px;
        color: white;
        font-weight: 500;
        line-height: 270%;
        padding: 0px 38px;
    }

    .superpower-text {
        padding: 38px;
        display: inline-block;
        font-size: 16px;
        color: white;
        height: auto;
    }
}