@import "base.css";

.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    width: 856px;
    height: 318px;
}

.hero-text h1 {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

.hero-text p {
    font-size: 18px;
    color: var(--color-white);
}

.hero-subtitle {
    display: flex;
    justify-content: center;
}

.hero-subtitle-text {
    display: flex;
    padding: 10px;
    align-items: center;
}

.hero-subtitle-text img {
    margin-right: 5px;
}


.hero-bar {
    border: 1px solid #324354;
    background-color: #283A4B;
    width: 422px;
    height: 64px;
    border-radius: 32px;
    display: flex;
}

.hero-bar input,
input:active {
    width: 253px;
    height: 63px;
    border: none;
    border-radius: 32px;
    background-color: #283A4B;
    font-size: 18px;
    margin-left: 20px;
}

.hero-bar button {
    width: 139px;
    height: 54px;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    margin-left: 2px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 500;
}

.hero-bar button:hover, 
.hero-bar button:active{
    filter: brightness(120%);
    width: 142px;
    height: 57px;
}

.hero-images {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    padding: 20px;
}

@media only screen and (max-width: 1180px) and (min-width: 845px){
    .hero{
        width: 1180px;
    }
    .hero-text h1{
        font-size: 50px;
    }


    .hero-bar input {
        width: 243px;
        height: 53px;
    }

    .hero-bar button {
        width: 129px;
        height: 48px;
        margin-left: 23px;
    }
}

@media only screen and (max-width: 844px) {
    .hero-text h1{
        font-size: 30px;
    }

    .hero-text p {
        font-size: 16px;
    }
    .hero-bar input {
        width: 121px;
        height: 26px;
        font-size: 12px;
    }

    .hero-bar form {
        height: 26px;
    }

    .hero-bar button {
        width: 110px;
        height: 26px;
        margin-left: 165px;
        font-size: 12px;
        margin-top: 3px
    }

    .hero-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-image img {
        width: 60%;
    }
}