li, a, button {
    font-weight: 400;
    font-size: 16px;
    color: #C3C8CD;
    text-decoration: none;
}

#main-header {
    background-color: var(--color-secondary);
}

#main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 24px;
}

.logo {
    cursor: pointer;
}

.navbar {
    width: 400px;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links li a {
    position: relative;
    padding: 3px 0;
}

button.cta-btn {
    padding: 11px 22px;
    border-radius: 24px;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    border: none;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    #main-header {
        position: relative;
    }

    .navbar, .cta-link {
        display: none;
    }
    
    .navbar {
        background-color: #fff;
        position: absolute;
        top: 54px;
        left: 0;
        width: 100%;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        width: 100%;
        text-align: center;
        padding: 8px 0;
    }

    .navbar-links li a {
        color: var(--color-secondary);
        font-size: 1.7rem;
    }

    .navbar.active {
        display: flex;
    }

    .toggle-button {
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .toggle-button {
        display: none;
    }

    .navbar, .cta-link {
        display: block;
    }

    .navbar-links li a {
        transition: all 0.3s ease 0s;
    }
    
    .navbar-links li a:hover {
        color: white;
    }

    button.cta-btn:hover {
        filter: brightness(80%);
    }
    
    .hover::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        transform: scaleY(0);
        background-color: var(--color-primary);
        transition: transform 0.3s;
    }
    
    .hover:hover::after {
        transform: scaleY(1);
    }
}

@media only screen and (min-width: 992px) {
    #main-header .container {
        padding: 20px 135px;
    }
}