@import 'base.css';

.sales {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: scroll;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1 {
    width: 45%;
    align-self: center;
    margin: 50px 50px;
    padding: 0 30px;
}

.item1 h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 56px;
    color: white;
}

.item1 p {
    margin: 18px 0 28px 0;
    font-size: 16px;
    color: #7e8091;
    line-height: 26px;
}

.item2 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

.sales-button {
    width: 162px;
    height: 52px;
    border: none;
    border-radius: 26px;
    font-size: 16px;
    margin-left: 2px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 450;
}

.sales-button:hover {
    background-color: #5C48D4;
    transition: 0.4s;  
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .item1 {
        max-width: 450px;
    }

    .item2 {
        margin: 0 auto;
    }

    .item1,
    .item2 {
        width: 100%;
        
    }
}


