@import "base.css";

.testimonials{
    width: 100%;
    background-color: white;
    display: flex;
    height: 558px;
}

.clients-talk{
    width: 337px;
    height: 208px;
    margin-top: 175px;
    margin-left: 135px;
}

.client-text h1{
    font-size: 50px;
    font-weight: 500;
    color: var(--color-secondary);
}

.client-text p{
    font-size: 16px;
    color: #7E8091;
    margin-bottom: 28px;
}

.client-buttons button{
    width: 54px;
    height: 54px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
}

.client-buttons #right-button:hover, 
.client-buttons #right-button:active {
    filter: brightness(120%);
}

.client-buttons #left-button:hover, 
.client-buttons #left-button:active {
    filter: brightness(80%);
}

.client-buttons #left-button {
    background-color: white;
    color: black;
}

.client-buttons #right-button {
    background-color: var(--color-primary);
    color: white;
}

.client-images img{
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 100px;
}

.client-card{
    background-color: white;
    width: 472px;
    height: 182px;
    border-radius: 18px;
    display: block;
    z-index: 1;
    margin-top: 188px;
    position: relative;
    right: 98px;
    display: flex;
}

.card-text{
    margin-top: 31px;
    margin-bottom: 14px;
    margin-left: 31px;
    margin-right: 26px;
    font-size: 16px;
    line-height: 26px;
    width: 381px;
    height: 78px;
    color: #7E8091;

}

.card-author{
    margin-left: 31px;
    height: 28px;
    display: flex;
    align-items: center;
}

.card-author h1{
    font-size: 18px;
}

.card-author .stars{
    margin-left: 179px;
    color: #D1A10B;
    font-size: 24px;
}

.flourish-card{
    background-color: var(--color-primary);
    width: 24px;
    height: 182px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

@media only screen and (max-width: 1180px) and (min-width: 845px) {
    .card-text {
        font-size: 14px;
    }
    

    .client-card{
        right: 20px;
        width: 460px;
    }

    .card-author h1 {
        font-size: 16px;
    }
    .card-author .stars{
        font-size: 20px;
    }
}

@media only screen and (max-width: 844px) and (min-width: 392px) {
    .testimonials {
        height: 100vh;
    }

    .clients-talk {
        margin-left: 20px;
    }

    .client-text h1 {
        font-size: 30px;
    }

    .client-text p {
        font-size: 10px;
    }

    .card-text {
        font-size: 12px;
    }

    .client-card{
        right: 10px;
        width: 460px;
    }

    .card-author h1 {
        font-size: 12px;
    }
    .card-author .stars{
        font-size: 14px;
    }

    .card-content {
        height: 70px;
    }

    .card-text{
        margin-top: 28px;
        margin-bottom: 10px;
        line-height: 20px;
        height: 70px;
        width: 295px;
    }

    .client-card {
        height: 150px;
    }

    .flourish-card {
        height: 150px;
        width: 15px;
    }
    .client-images img {
        width: 300px;
    }
}

@media only screen and (max-width: 391px) {
    .testimonials {
        flex-direction: column;
        height: 100%;
        margin-left: 20px;
    }

    .clients-talk {
        width: 80%;
        margin-left: 5px;
        margin-top: 20px;
    }

    .client-talk p {
        font-size: 12px;
    }

    .client-text h1 {
        font-size: 30px;
    }

    .client-images img {
        margin: 0;
        width: 60%;
        margin-left: 50px;
    }

    .client-card {
        width: 100%;
        margin-top: 10px;
        right: 0;
    }

    .card-text {
        font-size: 10px;

    }

    .card-content {
        width: 250px;
    }

    .card-text {
        width: 250px;
    }

    .card-author h1 {
        font-size: 14px;
    }

    .card-author .stars {
        font-size: 18px;
        margin-left: 80px;
    }
}